body,
html {
  background-image: url(assets/coins.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.card {
  display: inline-block;
}

h1 {
  text-align: center;
}

.moreInfo {
  display: none;
  height: 120px;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.card-coins {
  width: 30px;
  height: 30px;
}

.form-switch {
  margin-right: 10px;
  text-align: right;
}

.cardModal {
  display: flex !important;
  flex-direction: row !important;
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
  border-radius: 10px;
}

.spinner-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-top: 3px solid #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spinnerAnimation 2s linear infinite;
}
