body,
html {
  background-image: url(assets/coins.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.card {
  display: inline-block;
}

h1 {
  text-align: center;
}

.moreInfo {
  display: none;
  height: 120px;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.card-coins {
  width: 30px;
  height: 30px;
}

.form-switch {
  margin-right: 10px;
  text-align: right;
}

.cardModal {
  display: flex !important;
  flex-direction: row !important;
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
  border-radius: 10px;
}